DATABASE_URL="postgresql://postgres:kali@localhost:5432/stackmesh"

JWT_SECRET="akshfdkasjhla"

AWS_ACCESS_KEY_ID="..."
AWS_SECRET_ACCESS_KEY="..."
AWS_REGION="us-east-1"
AWS_BUCKET_NAME="stackmesh-files"

INSTANCE_ID="dev-local"